body * {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar-brand img {
    width: 80px;
    margin-left: 119px;
}

.navbar {
    background-color: #28A745;

}

.collapse {
    margin-right: 119px;
}

.nav-item {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: lighter;
}

#menu {
    margin-left: 10%;
    margin-right: 10%;
}

.card-title {
    color: #373A3C;
    font-size: 17px;
    font-weight: bold;
}

.card-title {
    color: #373A3C;
    font-size: 16px;

}

.list-group {
    color: #373A3C;
    font-size: 11px;
}

.card-link {
    color: #1C7CD5;
    font-size: 11px;
}

.card {
    margin: 10%;
}

.row {
    margin-left: 10%;
    margin-right: 10%;
}

form {
    background-color: #28A745;
}

footer {
    background-color: #FFFFFF;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    width: 34px;
}