body * {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar-brand img {
    width: 120px;
    margin-left: 70px;

}

.navbar {
    background-color: #28A745;

}

.collapse {
    margin-right: 70px;
}

.nav-item {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: lighter;
}

#cupones {
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;

}

.card-title {
    color: #707070;
    font-size: 20pt;
    font-weight: lighter;
    text-align: left;
}

.card-text {
    color: #707070;
    font-size: 16pt;
    font-weight: lighter;
    text-align: left;
}

.fa-solid {
    width: 3px;
    color: #707070;
}

.list-group-item {
    color: #707070;
    font-size: 13pt;
    font-weight: lighter;
    display: inline;
    padding: 0%;
}

.card-body {
    text-align: right;
}

.card-valor {
    color: #707070;
    font-size: 16px;
    font-weight: lighter;
    padding-right: 5px;
    ;
}

.card-oferta {
    color: #28A745;
    font-size: 20px;
    font-weight: medium;
}

.card {
    margin: 5%;
}


form {
    background-color: #28A745;
    text-align: center;
    font-size: 24px;
    color: #FFFFFF;
    height: 241px;
}

#campos {
    width: 350px;
    align-items: flex-end;
}

footer {
    vertical-align: center;
    text-align: center;
    padding: 20px;
    background-color: #FFFFFF;
    height: 200px;
}


footer img {
    padding-bottom: 10px;
    width: 100px;
}

#latam {
    font-size: 16px;
    font-weight: lighter;
}